<body>
  <div class="container">
    <div class="row">
      <div class="col-6"style="margin-left: 25%; margin-top: 26.5%; margin-bottom: 26.5%; background-color:#FEFEFE; border-radius: 5%">
        <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');</style> <!-- Fuente a utilizar ;Poppins -->
        <form>
          <br>
          <label for="exampleInputEmail1" class="form-label" style="color: rgb(33, 1, 1)">INICIAR SESION</label> <!-- Usuario/Administrador creado -->
          <div class="mb-3">
            
            <!-- Iniciar sesion -->
            
            <label for="exampleInputEmail1" class="form-label" style="color: rgb(0, 0, 0)">Username or email</label> <!-- Usuario/Administrador creado -->
            <input type="email" class="form-control" id="exampleInputEmail1" name="username" #username="ngModel" [(ngModel)]="usuarioModel.username">
            <div id="emailHelp" class="form-text" style="color: rgb(157, 157, 157)">Ingresa el nombre de tu usuario</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color: rgb(0, 0, 0)">Password</label> <!-- Contrasena -->
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
          </div>
          <br>

          <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-left: 30%;">
            <button type="button" class="btn btn-success"(click)="getToken()">Ingresar</button> <!-- Ingresar con el administrador creado previamente -->
            |
            <!-- Crear un nuevo usuario -->
            <button type="button" class="btn btn-outline-primary" (click)="gettoregister()" style="background-color: rgb(255, 255, 255)">Registrar</button>
          </div>
        </form>
        
        <br>
      </div>
    </div>
  </div>
</body>
